/target

# C# build artifacts
[Oo]bj/
[Bb]in/

# NuGet
*.nupkg
project.assets.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json

# Paket
paket-files/
.paket/
*.paket.props
*.paket.references.cached
*.paket.resolved
paket.lock

# Test artifacts
test-*.db
test-server-*.log
testing.db
